body {
    background: url("../img/leilao.jpg") no-repeat fixed;
    background-size:20%;
    background-repeat: repeat;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 20px
}
div{

}
#principal {
    /* border:1px solid black; */
    margin:auto;
    width: 860px;
}
#cabecalho {
    padding-left: 20px;
    background-size: 150px;
    background-position: right;
    background-color: #6704B3;
    background-repeat: no-repeat;
    height:120px;
    color:#F2E0FF;
    padding-top:00px;
    font-size: 30px;
    border : 1px solid black ;
}

#autenticacao{
    background-color: #6704B3;
    color:#FFF;
}
#menu {
    border : 1px solid black ;
    background-color: #CC8AFF;
    list-style:none;
    margin:0px;
    text-align:center;
    adding-top:-10px;
    padding-bottom:0px;
    height:50px;
    font-size: 20px
}
#menu li {
    display:inline-block;
    margin-right:20px;
}
#menu a {
    text-align:center;
}
#produtos {
    background-size:100%;
    background-color: #F2E0FF;
    margin:auto;
    width: 860px;
    text-align: center;
    border : 1px solid black ;
}
.produtosativos{
    border : 1px solid black;
}
form {
    padding-top: 2vw;
    display:grid;
    grid-template-rows: repeat(auto,1fr);
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    font-family: 'Nunito', sans-serif;
    }
#registro{
    background-size:100%;
    background-color: #F2E0FF;
    margin:auto;
    width: 860px;
    text-align: center;
    border : 1px solid black ;
}
textarea{
    height: 10vw;
}
.fecharbid{
    padding: 1vw;
}
#rodape {
    margin:auto;
    background-color:#CC8AFF;
    width: 860px;
    text-align: center;
    border : 1px solid black ;
}
#menu a:text-color { color:white; }
#menu a:link  { text-decoration:none; }
#menu a:visited { color:#6704B3; }
#menu a:hover  {font-size: 22px; color: #F2E0FF; background-color:#6704B3;}
#menu a:active { color: yellow; background-color:#F2E0FF;}
