pip~=22.0.2
wheel~=0.37.1
cryptography~=3.4.8
Pillow~=9.0.1
keyring~=23.5.0
platformdirs~=2.5.1
colorama~=0.4.4
click~=8.0.3
setuptools~=59.6.0
Django~=3.2.15
asgiref~=3.5.2
sqlparse~=0.4.2
PyYAML~=5.4.1
requests~=2.25.1